.section-2{
    border-bottom: 2px solid gray;
}
#about{
background-color: #f0efef;
margin: 5%;
border-radius: 50px;

border-top: 2px solid #fede17;
border-bottom: 2px solid #fede17;
}
.about-text{
    border-radius: 25px;
    width: 80%;
    margin:0 auto;
    margin-top: 5vw;
    font-family:'Times New Roman', Times, serif;
}
.about-desc::before{
    content: '\201C';
    font-size: xx-large;
}

.about-photo>img{
    width: 90%;
    margin:5%;;
    border-radius: 50px;
}

/* Responsive */
/* ////////////////////////////// */


 
  @media (min-width:769px) and (max-width:90993px){
    #about{
        display: flex;
    }
    .about-desc{
        margin-left: 5%;
    }
    .about-photo{
    width: 90%;
    }

  }
 