
.hidden{
    display: none;
  }

  /* Styling contact page header - mobile first */
  .contact{
    overflow: scroll;
    width: 100%;
margin-top: 8vw;

  }
  .contact-head{
    text-decoration:overline 1px rgb(212, 198, 198);
    text-align: center;
    font-size: 1.5rem;
  }
  

  /* Styling icons */
  .fa-facebook{
    color: blue;
  }
   .fa-instagram{
    color: #F77737;
  }
  .fa-envelope{
    color: #c71610;
  }
  .fa-phone{
    color:#05ad2f ;
  }
  .fa-location-dot{
    color: #4285F4;
    cursor:none;
  }
  
  /* ///////////////// */

/* Styling contact list links */
  .contact-list-item{
    text-align: left;
    margin-left: 1vw;
    margin-top: 2vw;
  }

  .contact-ul{
    margin-top: 10vw;
    list-style-type: none;
  }
  .contact-ul>li>a{
    color: black;
  }
  .icon{
    margin-right: 10px;
  }
  .contact-ul>li>a:hover{
    opacity:0.7
  }
 

  /* Styling map */
  .address{
width: 100%;
height: 250px;
display: flex;
  justify-content: center;
  align-items: center;
  }

 #map{

  width: 90%;
  height: 100%;
 }