*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
}
.container-fluid{
    width: 100%;
}
.navbar{
    background-color: black
  }
 
  .list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left:10%
  }
  .list-item{
    list-style: none;
    color: #fff;
    font-size: 1.5em;
  }
  .list-item:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
  }

  .toggle{
    position: absolute;
    top: .75;
    right: 1rem;
    display: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
 

  @media screen and (max-width:575px) {
    .toggle{
      display: flex;
    }
    .list{
    display: none;
    }
    .toggler{
      position: absolute;
      display: block;
      top:8px;
      right: -32px;
      width: 70%;
      height: 200px;
      
      overflow: scroll;
      font-weight: 800;
      opacity: 0.9;
      background-color:black;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius:20px;
    }
    .list-item{
      font-size: 1.3rem;
    }
    .list-item:hover{
      opacity: 0.7;
    }
    .option{
      position: relative;
      left: -20px;
      bottom: 4px;
      display: flex;
      border-bottom: 1px solid grey;
    }
    .logo{
     max-width: 70%;
    }
  }
  @media screen and (max-width:575px){
    .list-item{
      margin-top: 15px;
      font-size: 1.3rem;
    }
  
  }
  @media (min-width:576px) and (max-width:768px){
    .logo{
      width:300px;
      height: 140px;
    }
    .list{
      position: absolute;
      top: -78px;
      display: inline-block;
      background-color: black;
      right: 5vh;
    }
    .list-item{
      font-size: 1rem;
    }
    .option{
      margin-top: 10px;
    }
    .list-item:hover{

      opacity: 0.7;
    }
  }
  @media (min-width:769px) and (max-width:992px){
  .navbar{
    display: block;
    overflow-y: hidden;
  }
  .logo-div{
    height: 100%;
    columns:2;
  }
  .list{
    position:fixed;
    left: 10vw;
    display: flex;
    justify-content: center;
  }
  .option{
    margin-top: -2vw;
    margin-left: 2vw;
  }
  .list-item{
   
    font-size: 1.3rem;
  }
  .list-item:hover{
    opacity: 0.7;
  }
 

  }
  @media (min-width:993px) and (max-width:1200px){
    .logo-div{
      columns: 2;

    }
    .list{
      position: absolute;
      top: -25px;
      left: -120%;
      justify-content: space-between;
    }
    .option{
      display: flex;
   }
   .list-item{
    width: 170px;
    font-size: 1.4rem;
   }
  }
  @media(min-width:1201px) and (max-width:1592px){
    .logo-div{
      columns: 2;
    }
    
    .list-div{
      position: absolute;
      right: 25%;
    }
    .list{
      margin-left: -6vw;
    }
    .list-item{
      display: block;
      width: 14vw;
      font-size: 1.5rem;

    }
  }
  @media (min-width:1593px) and (max-width:15000px) {
    .logo-div{
      columns: 2;
      position: absolute;
      left: 2vw;
    }
    .list-div{
      position: absolute;
      right:25vw
        }
  
        .list-item{
          display: block;
          width: 200px;
          font-size: 1.7rem;
        }
        .section-header{
          font-size: xx-large;
        }
  }

.material-symbols-outlined {
color: white;
}
.sticky{
  position: fixed;
  background-color: black;
}
.section-header{
  text-align: center;
 margin-top: 5vw;
}